@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form class="d-flex" asp-action="Search" asp-controller="Contact">
    <input class="form-control me-2" type="text" name="search" placeholder="Search" aria-label="Search" required style="margin-right: 5px">
    <input type="submit" value="Filtrer" class="btn btn-primary" />
</form>
